/* body{
    background-color: ;
    background-color: #a7970b;
    background-image: url(./Jolly_Roger.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
    } */
.navbar{
    display: flex;
    justify-content: center;
}
header a{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    background-color: #da1414;
    text-decoration-color: white;
    border: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img{
    margin-left: 400px;
    min-height: 650px;
}
h2{
    background-color: #da1414;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    margin-left: 250px;
}